<html>
<head>
<title> Hello </title>
    <link rel="stylesheet" href="css/budget.css">
    <script type="text/javascript" src="jquery-1.12.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <!-- <script type="text/javascript" src="js/budget.js"></script>-->
</head>

<body>
 {{{body}}}
</body>
</html>